<div class="top-row ps-3 navbar navbar-dark">
    <div class="Tecnico">
        <a class="navbar-brand" href="">Registro de T&eacute;cnicos</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Tecnico/Index">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> T&eacute;cnicos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/TiposTecnicos/Index">
                <i class="bi bi-headset-nested-nav-menu" aria-hidden="true"></i> Tipos T&eacute;cnicos
            </NavLink>
        </div>
    </nav>
</div>
