<div class="top-row ps-3 navbar navbar-dark">
    <div class="Tecnico">
        <a class="navbar-brand" href="">Registro de T&eacute;cnicos</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Tecnico/Index">
                <span class="bi bi-person-badge-fill" aria-hidden="true"></span> T&eacute;cnicos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/TiposTecnicos/Index">
                <i class="bi bi-gear-fill" aria-hidden="true"></i> Tipos T&eacute;cnicos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Clientes/Index">
                <i class="bi bi-person-circle" aria-hidden="true"></i> Clientes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Trabajos/Index">
                <i class="bi bi-briefcase-fill" aria-hidden="true"></i> Trabajos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Prioridades/Index">
                <i class="bi bi-list-task" aria-hidden="true"></i> Prioridades
            </NavLink>
        </div>
    </nav>
</div>
